<style>
    .value{
        color:red;
    }
</style>
<p>
    目前开市状态：<span class='value'>%1</span>&nbsp; &nbsp; 开市时间：上午&nbsp; <span class='value'>%2</span> 至 <span class='value'>%3</span>&nbsp; &nbsp; 下午&nbsp; <span class='value'>%4</span> 至 <span class='value'>%5</span><br/>
</p>
<table>
    <tbody>
        <tr>
            <td >
                会员：
            </td>
            <td >
                &nbsp;&nbsp; 保证金：
            </td>
            <td >
                <span class='value'>%6</span>
            </td>
            <td >
                &nbsp;&nbsp; 总：
            </td>
            <td >
                <span class='value'>%7</span>人
            </td>
            <td >
                &nbsp;&nbsp; 在线：
            </td>
            <td >
                <span class='value'>%8</span>人
            </td>
            <td >
                &nbsp;&nbsp; 禁用：
            </td>
            <td >
                <span class='value'>%9</span>人
            </td>
            <td >
                &nbsp;&nbsp; 锁定：
            </td>
            <td>
                <span class='value'>%10</span>人
            </td>
        </tr>
        <tr>
            <td>
                我：
            </td>
            <td>
                &nbsp;&nbsp; 保证金：
            </td>
            <td>
                <span class='value'>%11</span>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <br/>
</p>