<style>
    .value{
        color:red;
    }
</style>
<table>
    <tbody>
        <tr>
            <td>
                我：
            </td>
            <td>
                &nbsp; &nbsp; 提款单：
            </td>
            <td>
                <span class='value'>%1</span>
            </td>
            <td>
                &nbsp; &nbsp; 总金额：
            </td>
            <td>
                <span class='value'>%2</span>
            </td>
            <td>
                &nbsp; &nbsp; 未处理：
            </td>
            <td>
                <span class='value'>%3</span>
            </td>
            <td>
                &nbsp; &nbsp; 总金额：
            </td>
            <td>
                <span class='value'>%4</span>
            </td>
            <td>
                &nbsp; &nbsp; 盈亏：
            </td>
            <td>
                <span class='value'>%5</span>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                正式会员：
            </td>
            <td>
                &nbsp; &nbsp; 持仓单：
            </td>
            <td>
                <span class='value'>%6</span>
            </td>
            <td>
                &nbsp; &nbsp; 总金额：
            </td>
            <td>
                <span class='value'>%7</span>
            </td>
            <td>
                &nbsp; &nbsp; 平仓单：
            </td>
            <td>
                <span class='value'>%8</span>
            </td>
            <td>
                &nbsp; &nbsp; 总金额：
            </td>
            <td>
                <span class='value'>%9</span>
            </td>
            <td>
                &nbsp; &nbsp; 留仓单：
            </td>
            <td>
                <span class='value'>%10</span>
            </td>
            <td>
                &nbsp; &nbsp; 总金额：
            </td>
            <td>
                <span class='value'>%11</span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                &nbsp; &nbsp; 提款单：
            </td>
            <td>
                <span class='value'>%12</span>
            </td>
            <td>
                &nbsp; &nbsp; 总金额：
            </td>
            <td>
                <span class='value'>%13</span>
            </td>
            <td>
                &nbsp; &nbsp; 未处理：
            </td>
            <td>
                <span class='value'>%14</span>
            </td>
            <td>
                &nbsp; &nbsp; 总金额：
            </td>
            <td>
                <span class='value'>%15</span>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                &nbsp; &nbsp; 充值单：
            </td>
            <td>
                <span class='value'>%16</span>
            </td>
            <td>
                &nbsp; &nbsp; 总金额：
            </td>
            <td>
                <span class='value'>%17</span>
            </td>
            <td>
                &nbsp; &nbsp; 盈亏：
            </td>
            <td>
                <span class='value'>%18</span>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                &nbsp; &nbsp; 手续费：
            </td>
            <td>
                <span class='value'>%19</span>
            </td>
            <td></td>
            <td></td>
            <td>
                &nbsp; &nbsp; 融资利息：
            </td>
            <td>
                <span class='value'>%20</span>
            </td>
            <td></td>
            <td></td>
            <td>
                &nbsp; &nbsp; 印花税：
            </td>
            <td>
                <span class='value'>%21</span>
            </td>
            <td>
                &nbsp; &nbsp; 净盈亏：
            </td>
            <td>
                <span class='value'>%22</span>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <br/>
</p>